@inject NavigationManager NavigationManager
@inject AuthServices AuthServices

<CascadingValue Name="@AppConstants.StorageKeys.Username" Value="@_name">   
    <Router AppAssembly="@typeof(Main).Assembly"
            AdditionalAssemblies="new[]{typeof(HomePage).Assembly}">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingValue>

@code {
    private string _name = string.Empty;
    protected async override Task OnInitializedAsync()
    {

        var name = await AuthServices.GetUserName();
        if (string.IsNullOrWhiteSpace(name))
            return;

        _name = name; 

        NavigationManager.NavigateTo("/home");

        return;  //base.OnInitializedAsync();
    }

}
